<div id="sonuc">
    
</div>
<div id="isim"></div>
<script>
    var snc = document.getElementById("sonuc").value;
    for (x = 1; x <= 10; x++) {
        var a = 7
        snc=document.write(x + "x" + a + "=" + a * x +"</br>");
    }
    // for (x = 1; x <= 10; x++) {
    //     for (i = 0; i <= 10; i++) {
    //         snc=document.write(x + "x" + i + "=" + x * i + "<br/>");
    //     }
    // }
    // var is = document.getElementById("isim").value;
    // var isimler =["Ali","Ahmet","Mehmet","Hüseyin","Volkan","Emre"]
    // console.log(isimler.length);
    // for (var i = 0; isimler.length;i++) {
    //   is= document.writeln(isimler[i]);
    // }
</script>

